<nav class="bg-white sticky top-0 w-full z-20 border-b border-gray-200">
  <div class="max-w-screen-xl flex flex-wrap items-center justify-between container py-4">
    <a routerLink="/" class="flex items-center space-x-3">
      <span class="font-sans font-bold text-2xl">Brain Tumor Segmentation</span>
    </a>
    <div class="items-center w-full md:flex md:w-auto">
      <img class="h-16" src="https://www.enset-media.ac.ma/sites/default/files/enset_mohammedia_0.png" alt="ENSET">
    </div>
  </div>
</nav>
