<footer class="bg-black w-full">
  <div class="bg-gray-900">
    <div
      class="max-w-screen-xl flex flex-wrap items-center justify-between container py-10"
    >
      <a class="flex items-center space-x-3">
        <span class="font-sans font-bold text-2xl text-white">Brain Tumor Segmentation</span>
      </a>
    </div>
  </div>
  <div class="max-w-screen-xl container py-2 text-gray-600 text-center text-sm">
    <p>&copy; {{ currYear }} Developed by <a class="hover:underline" href=""> Nouhayla Mouakkal</a> & <a class="hover:underline" href=""> Ahmed houssam BOUZINE</a>. All rights reserved.</p>
  </div>
</footer>
